<h1>Your Job Requests</h1>
<ul class="list-group">
  <% @hitmen.each do |j| %>
  <li class="list-group-item">
    <p><%= j.name %></p>
    <p><%= j.bio %></p>
    <%# <%= "#{j.details} - #{j.location} - #{j.deadline}" %>
  </li>
  <% end %>
</ul>
