<h1>Your Profiles</h1>
<ul class="list-group">
  <% @jobs.each do |j| %>
   <li class="list-group-item mb-3">
    <%= "#{j.hitman.name} - #{j.hitman.location} - #{j.hitman.method}" %>
    <%= link_to "View profile", hitman_path(j), class:"btn btn-dark" %>
  </li>
  <% end %>
</ul>
