<h1>Your Profiles</h1>
<ul class="list-group">
  <% @hitman.each do |j| %>
   <li class="list-group-item mb-3">
    <%= "#{j.name} - #{j.location} - #{j.method}" %>
    <%= link_to "View profile", hitman_path(j.id), class:"btn btn-dark" %>
  </li>
  <% end %>
</ul>
