<div class="footer">
  <%# <div class="footer-links">
    <a href="https://github.com/LWGameOn/deadline"><i class="fa-thin fa-skull" ></i></a>
  </div> %>
  <div class="footer-copyright">
    For when you want your "friends" to disappear
  </div>
</div>
