<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/LWGameOn/deadline"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/thekillers/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/groups/HitmenforHire"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/BolsonaroSP"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/the-hitmen-termite-&-pest-control-inc./about/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
