<div class="fw-bolder text-center pb-3 pt-3">
<h1>Hitmen</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mx-5">
    <% @hitmen.each do |hitman| %>
    <div class="col">
      <div class="card">
      <img src="https://source.unsplash.com/random/400x300/?hitman" class="card-img-top hitman-img" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= hitman.name %></h5>
          <p class="card-text"><%= hitman.method %></p>
          <p class="text-dark fst-italic"> <%= link_to "Visit hitman's profile", hitman %> </p>
        </div>
      </div>
    </div>
    <% end %>
</div>
