<h1 id="title-color" class="text-center pt-4">ARE YOU 18 OR OLDER?</h1>
<div class="fake-buttons">
  <div class="d-flex justify-content-center p-4 landing-title align-items-center">
  <%= link_to hitmen_path, class:"text-decoration-none" do %>
    <h3 class="link-style">I am</h3>
  <% end %>
  <%= link_to hitmen_path, class:"text-decoration-none" do %>
  <h3 class="link-style">I am not</h3>
  </div>
  <% end %>
</div>
<div class="catch-phrase text-center">
<p><strong>There's A Bullet For Everyone. And A Time. And A Place. An End</strong><p>
</div>
