<br>
<% if @hitman %>
  <%= render "partial/hitman" %>
<% else %>
  <h5>You don't have a hitman profile yet ...</h5>
  <%= link_to "Create a profile", new_hitman_path, class:"btn btn-dark" %>
<% end %>
<div class="">
  <h3>Your Jobs</h3>
  <ul class="list-group">
    <% @jobs.each do |j| %>
      <li class="list-group-item">
        <%= link_to "#{j.details} - #{j.location} - #{j.deadline} - #{j.completed}", job_path(j) %>
      </li>
      <% end %>
  </ul>
</div>
