.card-body {
    background: #4b4649;
    background: -webkit-linear-gradient(to right, rgb(57, 52, 55), rgb(147, 158, 177));
    background: linear-gradient(to right, rgb(52, 47, 50), rgba(147, 158, 177, 1));
    box-shadow: 0 10px 30px black;
    border-color: rgb(37, 36, 36);
    border-bottom: 10px;
    border-top: 0px;
    border-radius: 15px;
  p {
    color: rgb(0, 0, 0);
    font-family: 'Lacquer', cursive;
  }

  h5 {
    font-family: 'Lacquer', cursive;
    color: rgb(0, 0, 0);
  }
}

.text-white {
  color: white;
}

.hitman-img {
  border-bottom: 0px;
  border-top: 10px;
  box-shadow: 0 10px 30px black;
  border-color: black;
}
