.footer {
  padding: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.footer-copyright {
  font-family: 'Lacquer', cursive;
}

.notice {
  margin-bottom: 0px;
}
