.landing-background {
  background-image: linear-gradient(90deg, rgba(34, 30, 31,1) 0%, rgba(34, 30, 31,0) 10%, rgba(34, 30, 31,0) 90%, rgba(34, 30, 31,1) 100%), asset-url("landinglogo.jpg");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: rgb(34, 30, 31);
  height: 100vh;
}

#title-color {
  color: white;
  font-family: 'Lacquer', cursive;
}

.landing-title {
  gap: 400px;
}

.link-style {
  font-family: 'Lacquer', cursive;
  text-decoration: none;
  color: rgb(0, 0, 0);
  &:hover {
    color: black;
  }
}

.fake-buttons h3 {
  background-color: rgb(253, 253, 253);
  color: black;
  padding: 10px 14px;
  border-radius: 4px;
  box-shadow: 10px 10px 30px rgba(245, 245, 243, 0.1);
  &:hover {
    background-color: rgb(255, 251, 3);
  }
}

.catch-phrase {
  padding-bottom: 5%;
  font-size: 23px;
  font-family: 'Lacquer', cursive;
  color: white;
  font-stretch:semi-expanded
}
